@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554201146911'); /* IE9 */
  src: url('iconfont.eot?t=1554201146911#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAAByQAAAKTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqCCIF+ATYCJAMMCwgABCAFhG0HOhtIBsgekiQVAolSwA9VDD+WOR7+2+/3+8zMvag0SKKR7quTTBLeiF7lWwxWqma1/CbnMo8sTEbU/r8bg2JZTFpOL83IsZocGzX9V6FGQj4IM+wtz/t/B5fT/wa2QeZZltNcw8akOMHA9sQoshIKhFMBz2agO/B8TKDVsFGh5ZWtXZBUeKsCcWZoEkjWAoqipJuFuudgEc9UmtNd+gA8Tb8fX9UjSVJl3saVg2UVzH0Y+DCczxpntmNEkIDjFTJmAIXY7U2siwiFFtGqiI7n14qQtgo3JhXYqvqif7xE1LzSdjCBZOLDQMgh+DD8ggQyqNEPWAFsA9+fbNXaHP5IjnzFxc1Zunh/nikVCT1As8SckrXwQUgojamjMGk5qAGukPciu+MLf/0b/SN9G30jz/2bhGzqSCOWB6Gs0ycP0NjoDL6/BU5+sXhQPIMHF2kETEIniD5sNW8HAyfY50Xy8/Sf/iIQ3GZRKEz9b84U8PqVCTIUfFXzu3IG/7KQ2VdssWfMxRSEAjedTUh/B4PW0tzgeXq1lqsG2DFCc02oQNJkCLJmI2jBz0ClzSzUms1Bq2mrx9v0oSKitGDKNUHo9gJJp1eQdftEC74JlUFfUOuOCLRajcqFbcbCSC9SJDGkQvkUGgpxcWBm6ax8G2mHtkSr4pS+j6hvhGGNqzbTq8hFdIst/pFWZwxDTIkDV+g5ZNsEepSYSGGczpg3wfO4702cQhyQtoRCJAyigmSnIIOCcOF4PJNufX4bojlkk9CRphb3PoTyGZNDNZwqA11VuKymV3nFd0RTxzAYhFGEA1ohG2L7CQLy+ueZEAXD0RfEPBN4YRjmKrjjVc7vq/IjtvCm5UiRo6jPvY+mVRNRPqOSwgAAAA==') format('woff2'),
  url('iconfont.woff?t=1554201146911') format('woff'),
  url('iconfont.ttf?t=1554201146911') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554201146911#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spread:before {
  content: "\e627";
}

.icon-retract:before {
  content: "\e62a";
}

